<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108403246-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-108403246-1');
    </script>
    @{
        @RenderSection("SEOMeta", false);
    }
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
    <title>@ViewBag.Title - Challenger Technology Solutions</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type='text/javascript'>
        var appInsights=window.appInsights||function(config)
        {
            function r(config){ t[config] = function(){ var i = arguments; t.queue.push(function(){ t[config].apply(t, i)})} }
            var t = { config:config},u=document,e=window,o='script',s=u.createElement(o),i,f;for(s.src=config.url||'//az416426.vo.msecnd.net/scripts/a/ai.0.js',u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=['Event','Exception','Metric','PageView','Trace','Ajax'];i.length;)r('track'+i.pop());return r('setAuthenticatedUserContext'),r('clearAuthenticatedUserContext'),config.disableExceptionTracking||(i='onerror',r('_'+i),f=e[i],e[i]=function(config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o),s}),t
        }({
            instrumentationKey:'5d0f1729-46c5-4bca-8f6c-b3c93ae5b223'
        });

        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    <div class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")" ><img class="navImg" src="~/Images/DC LOGO Small Grey BG tx.png" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    <li>@Html.ActionLink("Applications", "AppDev", "Services")</li>
                    <li>@Html.ActionLink("Consulting", "Consulting", "Services")</li>
                    <li>@Html.ActionLink("Leadership", "Leadership", "Services")</li>
                    <li>@Html.ActionLink("Kinect", "Kinect", "Services")</li>
                    <li>@Html.ActionLink("Online Profile", "OnlineProfile", "Services")</li>
                    <li>@Html.ActionLink("Gallery", "Index", "Gallery")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>

                <!--@Html.Partial("_LoginPartial")-->

            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <address>
                        <a class="leftFoot" href="@Url.Action("Index", "Home")"><span class="copy">&copy;</span> Darryl Challenger Technology Solutions, Inc.</a>
                    </address>
                </div>
                @*<h2>Contact@dctechnologysolutions.com</p>*@
                <div class="col-xs-12 col-sm-6">
                    <address>
                        @*<a class="rightFoot" href="@Url.Action("Contact", "Home")">contact@dctechnologysolutions.com</a>*@
                        <a class="rightFoot" href="mailto:contact@dctechnologysolutions.com">contact@dctechnologysolutions.com</a>
                    </address>
                </div>
            </div>
            <p class="ack">Icons by <a href="http://www.freepik.com" title="Freepik">Freepik</a> and <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p>

        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
