@model DCTechnologySolutions.Models.StripeModel

@{
    ViewBag.Title = "SetupStore";
    Layout = "~/Views/Gallery/_GalleryLayout.cshtml";
}

<div class="Stripe">
    <h2>Setup Your Store</h2>
    <div class="StripeBox">
        @using (Html.BeginForm("StripeSamples", "Gallery", FormMethod.Post, new { id = "StripeButtonForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    @Html.LabelFor(model => model.publicKey)
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    @Html.EditorFor(model => model.publicKey)
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    @Html.LabelFor(model => model.stripeKey)
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    @Html.EditorFor(model => model.stripeKey)
                </div>
            </div>
            <div class="row StripeStoreSetup">
                <button type="submit">Submit Keys</button>
                <button type="submit" formaction="./StripeSamples">Cancel</button>
            </div>
        }
    </div>
</div>
