
@{
    ViewBag.Title = "StripeSample";
    Layout = "~/Views/Gallery/_GalleryLayout.cshtml";
}

<div class="Stripe">
    <h2>Stripe Samples <small>(These are test buttons, so click away!)</small></h2>
    <div class="StripeBox">
        @using (Html.BeginForm("StripeButton", "Tests", FormMethod.Post, new { id = "StripeButtonForm" }))
        {
            <div id="StripePaymentRequestButton" class="StripePayNowBtn">
                <p>No Payment methods available on this session.</p>
                @*<!-- Stripe element will be here -->*@
            </div>
        }
    </div> <!-- Paw Now Button-->
    <div class="StripeBox">
        @using (Html.BeginForm("Charge", "Tests", FormMethod.Post, new { id = "StripeForm" }))
        {
            <div class="form-row">
                <p>Credit or debit card</p>
                <div id="card-element">
                    @*<!-- Stripe element will be here -->*@
                </div>

                <!-- Used to display form errors. -->
                <div id="card-errors" role="alert" class="text-danger"></div>
            </div>
            <br />
            <button id="subBtn">Submit Payment</button>
        }
    </div> <!-- Card payment -->
    @*
        <div class="StripeBox">
            @using (Html.BeginForm("AddStripeCustomer", "Tests", FormMethod.Post, new { id = "StripeSaveCustomerForm" }))
            {
                <p>Save card Info in a Stripe customer</p>
                <br />
                <button id="subCustBtn">Add Customer(notimpl)</button>
            }
        </div> <!-- Save Customer Card-->
        <div class="StripeBox">
            @using (Html.BeginForm("Charge", "Tests", FormMethod.Post, new { id = "StripeSimpleCheckoutForm" }))
            {
                @Html.HiddenFor(model => model.StripeData.checkoutAmount)
                <p>Checkout Simple</p>
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_9VBmb0MLFOio86PO162GMNFp"
                        data-amount="@Model.StripeData.checkoutAmount"
                        data-name="Challenger Technology Solutions"
                        data-description="Simple"
                        data-zip-code="true"
                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                        data-locale="auto">
                </script>
                <br />
                <!--<button id="subSimplePayBtn">Simple Payment</button>-->
            }
        </div>
    *@
    <div class="StripeBox">
        @using (Html.BeginForm("Charge", "Tests", FormMethod.Post, new { id = "StripeCustomCheckoutForm" }))
        {
            <p>Checkout Custom</p>
            <br />
            <button id="subCustPayBtn">Custom Payment</button>
        }
    </div> <!-- Custom Payment -->
    <div class="StripeBox">
        <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_Bil3yXbf2LC3dxUr0RnuQoytgoq5X16j&scope=read_write"><img src="~/Images/blue-on-light.png" /> Create a Standard Swipe Account</a>
    </div> <!-- Create standard acct -->
    <div class="StripeBox">
        <a href="https://connect.stripe.com/express/oauth/authorize?response_type=code&client_id=ca_Bil3yXbf2LC3dxUr0RnuQoytgoq5X16j&scope=read_write"><img src="~/Images/light-on-light.png" /> Create an Express Swipe Account</a>
    </div> <!-- Create Express acct -->
    @*
        <div class="StripeBox">
            Invoice
        </div> <!-- Send an Invoice -->
    *@
</div>

@section Scripts
{
    @Scripts.Render("https://js.stripe.com/v3/")
    @Scripts.Render("https://checkout.stripe.com/checkout.js")
    @Scripts.Render("~/Scripts/StripeHandler.js")
}

