@{
    ViewBag.Title = "Welcome";
}
<div class="titleContainer">
    <div class="mainTitleTop">
        <h1 class="appTitle">
            Challenger Technology
        </h1>
        <!--  <hr class="titlebr" /> -->


        <svg class="inherhitWidth" width=100% height=10>
            <line x1="0%" y1="5" x2=100% y2="5" style="stroke:black;stroke-width:2"></line>
        </svg>


        <h1 class="mainTitleBot">
            Solutions
        </h1>
    </div>
    <p class="subTitle"><em>Taking the challenge out of technology</em></p>
    @*<p class="subTitle"><em>Builing software to make us better</em></p>*@
</div>

    @*
        <div class="whoAmI"></div>
        <div class="services"></div>
    *@
<div class="Services">
    <h2>Services</h2>
    <ul class="bullet">
        <li>@Html.ActionLink("Create Online Profile for Businesses and Charities", "OnlineProfile")</li>
        <li>@Html.ActionLink("Application Development and Systems Integration", "AppDev")</li>
        <li>@Html.ActionLink("Software Development and Development Team Leadership","Leadership")</li>
        <li>@Html.ActionLink("Consulting", "Consulting")</li>
        <!--<li>@Html.ActionLink("Data Conversions and Migrations", "Conversions")</li>-->
        <li>@Html.ActionLink("Kinect Gesture Detection", "Kinect")</li>
    </ul>
</div>

<!--
<div class="Audience">
    <h2>Audience</h2>
    <ul>
        <li>Small Businesses</li>
        <li>Charities</li>
        <li>Startups</li>
        @*<li>Corporations</li>*@
    </ul>
</div>
-->
@*
    <p>Screen Size:<span id="WWW"></span><span id="HHH"></span></p>
*@

<div class="Gallery">
    <h2>Gallery</h2>
    <div class="row">
        <div class="col-sm-4 col-xs-12 GalleryBox">
            <span class="GalleryHeightBox"></span>
            <a href="@Url.Action("CAB", "Home", new { title="Chess Across Borders Web Site" })">
                <img alt="Chess Across Borders Web Site" title="Chess Across Borders Web Site" class="GalleryImage" src="@Url.Content("~/Images/CABBrand_414_320.png")"/>
            </a>
       </div>
        <div class="col-sm-4 col-xs-12 GalleryBox">
            <span class="GalleryHeightBox"></span>
            <a href="@Url.Action("Equity", "Home", new { title="Equity Project For All Facebook Page" })" >
                <img alt="Equity Facebook Page" title="Equity on Facebook" class="GalleryImage" src="@Url.Content("~/Images/EquityQ300_170.png")"/>
            </a>
        </div>
        <div class="col-sm-4 col-xs-12 GalleryBox">
            <span class="GalleryHeightBox"></span>
            <a href="@Url.Action("Equity", "Home", new { title="Equity Project For All Web Site" })" >
                <img alt="Equity Web Site" title="Equity Web Site" class="GalleryImage" src="@Url.Content("~/Images/equity_V3-03blue.png")"/>
            </a>
        </div>
    </div>
</div>
<div class="ContactDCTech">
    <h2>Our Commitment</h2>
    <p>Our focus is you and your clients. We'll work with you to get you exactly what you need. 
    If you are new to this, don't worry - you have a partner with us.<br /></p>

    @Html.ActionLink("Contact Us", "Contact", "Home", routeValues: null, htmlAttributes: new { @class = "ContactBtn" })
</div>
<div class="Testimonials"></div>
<div class="usefulResources">
    <hr />
    @Html.ActionLink("Developer Resources", "DevResources", "Home", routeValues: null, htmlAttributes: new { @class = "h2" })<span class="usefulResourcesText"> - Tools and Resources I've found helpful in the devleopment process.</span>
</div>

@*
<h2>Fonts</h2>
<h3 class="Baloo"> font-family: 'Baloo', cursive;</h3>
<h3 class="Courgette"> font-family: 'Courgette', cursive;</h3>
<h3 class="Montserrat"> font-family: 'Montserrat', sans-serif;</h3>
<h3 class="Pattaya"> font-family: 'Pattaya', sans-serif;</h3>
<h3 class="Paytone"> font-family: 'Paytone One', sans-serif;</h3>
<h3 class="Poppins"> font-family: 'Poppins', sans-serif;</h3>
<h3 class="Russo"> font-family: 'Russo One', sans-serif;</h3>
*@

@section SEOMeta {
    <meta name="keywords" content="Darryl Challenger, Challenger Technology Solutions, websites, sites, social media, application development, kinect, migrations, consulting" />
    <meta name="description" content="Welcome to Challenger Technology Solutions - Sites, Social Media, Applications, Kinect, Migrations, and Consulting" />
}